.avatar{
    width: 150;
    height: 150px;
    border-radius: 50%;
    top: 50px;
  }

#id {
		color: black;
  }
  
.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}

.tablebox{
  table-layout: auto;
  width: 400px;
}

.center{
  margin: auto;
}

